body{
	background-color: grey;
}

.simon{
	padding: 10px;
	width: 680px;
	height: 680px;
	border: solid 2px black;
	border-radius:100%;
	font-size:0;
	background-color: black;
	margin-top:-340px;
	margin-left: -340px;
	box-shadow: 10px 5px 100px rgba(0, 0, 0, 100);

}

.button{
	height: 300px;
	width: 300px;
	border:none;
	margin: 20px;
	outline: none;
	box-shadow: inset 0 0 25px;

}

#green{
	background-color: green;
	border-radius: 300px 0 0 0;
}
#green.highlight{
	background-color: #2CB32C;
}


#red{
	background-color: red;
	border-radius: 0 300px 0 0;
}
#red.highlight{
	background-color: #FF6464;
}


#blue{
	background-color: blue;
	border-radius: 0 0 300px 0;
}
#blue.highlight{
	background-color: #4949FC;

}


#yellow{
	background-color: yellow;
	border-radius: 0 0 0 300px;
}
#yellow.highlight{
	background-color: #FFFF64;
}


.center{
	position: absolute;
	z-index: 1;
	height: 300px;
	width: 300px;
	margin-top:-160px;
	margin-left: -160px;
	border-radius:100%;
	background-color: #C6C7C6;
	border:solid 20px black;
	text-align: center;
	/*line-height: 100px;*/
	box-shadow: inset 0px 0px 10px;

}
h1{
	margin-top:80px;
	margin-bottom: 50px;
	color:black;
	font-family: 'Press Start 2P', cursive;
}

.menuButton{
	display: inline-block;
	border-radius: 50%;
	margin:5px;
	padding: 0 8px;
	border:;
	box-shadow:  3px 2px 5px;
	outline: none;
}
.menuButton:active{

	box-shadow:  0px 0px 0px;
}

.canClick{
	pointer-events:auto;
}

.cantClick{
	pointer-events: none;
}
.simon, .center{
	position: absolute;
	top:50%;
	left: 50%;

}
.counterScreen{
	display: inline-block;
	background-color: #030202;
	height: 30px;
	width: 50px;
	border: solid 5px grey;
	border-right:solid 5px #A6A6A6;
	line-height: 33px;
	font-family: 'Press Start 2P', cursive;

	color: #00CC00;
	text-shadow: 0px 0px 5px #00CC00;
}

.counter{
	font-size:10px;


}
.led{
	display: inline-block;
	background-color: black;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border:solid 2px grey;
}
.led.on{
	background-color: #00CC00;
	box-shadow: 0px 0px 5px #00CC00;
}